doctype html
html(lang="en")
    head
        include ../assets/pug/_head.pug
        title Herramientas de Ingenieria
    body 
        main 
            .phone-container
                .display-container
                    include ../assets/pug/_status.pug
                    
                    include ../assets/pug/_converter.pug
                            
        //- script(src="../assets/js/scripts.js") 
        script(src="../assets/js/main.js") 