* {
				margin: 0;
				-webkit-box-sizing: border-box;
				        box-sizing: border-box;
}

html {
				font-family: "Roboto", sans-serif;
				line-height: 125%;
				font-weight: 600;
				background-color: rgb(231, 235, 237);
				overflow-x: hidden;
				scroll-behavior: smooth;
}

main {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				width: 100vw;
				height: 100%;
}

.status-container {
				background-color: rebeccapurple;
				width: 70vh;
				padding: 0 24px;
}

.phone-container {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
				height: 100vh;
				width: 100%;
				min-height: 600px;
				background-image: url("https://drive.google.com/uc?export=view&id=1rlz6Dp7EYnqpGPVU0tkCXKMQ6LVzgOOt");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
}

.display-container {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				height: 69%;
				width: 95vh;
				min-width: 570px;
				background-color: rgba(0, 255, 255, 0.267);
				padding: 0px 16px;
				-webkit-transition: ease-in-out 0.5s;
				transition: ease-in-out 0.5s;
				border: 1px solid black;
				border-radius: 16px;
}

.buttons-container {
				display: -ms-grid;
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
				-ms-grid-rows: minmax(60px, 65px);
				grid-template-rows: minmax(60px, 65px);
				width: 100%;
				padding: 16px;
				gap: 4px;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				justify-items: center;
}
.buttons-container .button {
				width: 60px;
				height: 60px;
				background-color: red;
				border-radius: 16px;
}

@media screen and (max-width: 800px) {
				.status-container {
								display: none;
				}

				.phone-container {
								background-image: none;
								width: 100vw;
								height: 100vh;
				}

				.display-container {
								width: 100%;
								height: 100%;
								min-width: 250px;
				}
}