* {
				margin: 0;
				-webkit-box-sizing: border-box;
				        box-sizing: border-box;
}

html {
				font-family: "Roboto", sans-serif;
				line-height: 125%;
				font-weight: 600;
				background-color: rgb(231, 235, 237);
				overflow-x: hidden;
				scroll-behavior: smooth;
}

main {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				width: 100vw;
				height: 100%;
}

.status-container {
				background-color: rebeccapurple;
				width: 20%;
				min-width: 250px;
				padding: 0 24px;
}

.phone-container {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
				height: 100vh;
				width: 100%;
				min-height: 600px;
				background-image: url("https://drive.google.com/uc?export=view&id=1w_3xiU12_BgVIy9g6_oFzfZ0pdAo53I7");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
}

.container {
				display: -ms-grid;
				display: grid;
				grid-template-columns: repeat(auto-fill, 20px);
				grid-template-rows: repeat(auto-fill, 20px);
				height: 69%;
				width: 95vh;
				min-width: 570px;
				background-color: rgba(0, 255, 255, 0.267);
				padding: 16px;
				-webkit-transition: ease-in-out 0.5s;
				transition: ease-in-out 0.5s;
}
.container .texto {
				-ms-grid-column: 2;
				-ms-grid-column-span: 3;
				grid-column: 2/5;
				-ms-grid-row: 2;
				-ms-grid-row-span: 2;
				grid-row: 2/4;
}
.container .boton {
				background-color: azure;
}

@media screen and (max-width: 800px) {
				.status-container {
								display: none;
				}

				.phone-container {
								background-image: none;
								width: 100vw;
								height: 100vh;
				}

				.container {
								width: 100%;
								height: 100%;
				}
}