*{
    margin:0;
    box-sizing: border-box;
}

$font: 'Roboto', sans-serif;
$color1: #E6EEFA;
$color2:#5790df98;
$backgroundcolor: rgb(231, 235, 237);

html{
    font-family: $font;
    font-weight: 600;
    background-color: $backgroundcolor;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
}
a{
    text-decoration: none;
}

.phone-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    min-height:600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.display-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 69%;
    width: 95vh;
    min-width: 570px;
    padding: 0px 16px;
    transition: ease-in-out .5s;
    border-radius: 16px;    
}

.status-container{
    width: 100%;
    height: 28px;
    display: flex;
    align-items: center;
    div{
        width: 33%;
        height: 45px;
        font-size: .9rem;
        display: flex;
        align-items: center;
    }
    .dates{
        justify-content: center;
    }
    .bateries{
        justify-content: flex-end;
        i{
            font-size: 1.2rem;
        }
    }
}
.buttons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 105px));
    grid-template-rows: repeat(auto-fit, minmax(100px, 105px));
    width: 100%;
    padding: 16px;
    gap:24px;
    align-items: center;
    justify-content: center;
  .button{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 16px;
    border: none;
    transition: ease-in-out .2s;
    box-shadow:  5px 5px 9px #d3d3d3,
             -5px -5px 9px #ededed;
    background-color: $backgroundcolor;
    &:hover{
        transform: scale(1.1);
        transition: ease-in-out .3s;
    }
    p{
        margin-top: 12px;
    }
    span{
        width:48px; 
        height:48px;
    }
    .title{
        display: flex;
        align-items: center;
    }
    .tools{
            background:url("https://drive.google.com/uc?export=view&id=1Uyrdfvo8ElpxlcA-cw1bHCiL5tmSxGmu");  
            background-repeat: no-repeat;
            background-position: center;
        }
  }
}


@media screen and (max-width: 800px){
    .status-container{
        display: none;
    }
    .phone-container, #phonecont{
        background-image: none;
        width: 100vw;
        height: 100vh;
        padding: 24px;
    }
    .display-container{
        width: 100%;
        height: 100%;
        min-width: 250px;
    }
}