*{
    margin:0;
    box-sizing: border-box;
}

$font: 'Roboto', sans-serif;
$color1: #E6EEFA;
$color2:#5790df98;
$backgroundcolor: rgb(231, 235, 237);

html{
    font-family: $font;
    // line-height: 125%;
    font-weight: 600;
    background-color: $backgroundcolor;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
}
a{
    text-decoration: none;
}
.status-container{
    // background-color: rebeccapurple;
    width: 70vh;
    padding: 0 24px;
}
.phone-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    min-height:600px;
    background-image: url("https://drive.google.com/uc?export=view&id=1rlz6Dp7EYnqpGPVU0tkCXKMQ6LVzgOOt");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.display-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    height: 69%;
    width: 95vh;
    min-width: 570px;
    // background-color: rgba(0, 255, 255, 0.267);
    padding: 0px 16px;
    transition: ease-in-out .5s;
    // border: 1px solid black;
    border-radius: 16px; 
}


.buttons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 105px));
    grid-template-rows: repeat(auto-fit, minmax(100px, 105px));
    width: 100%;
    padding: 16px;
    gap:16px;
    align-items: center;
    justify-content: center;
  .button{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    // line-height: 90%;
    // background-color: red;
    border-radius: 16px;
    border: none;
    transition: ease-in-out .2s;
    // background: linear-gradient(145deg, #f0f0f0, #cacaca96);
    box-shadow:  5px 5px 9px #d3d3d3,
             -5px -5px 9px #ededed;
    background-color: $backgroundcolor;
    &:hover{
        transform: scale(1.1);
        transition: ease-in-out .5s;
    }
    p{
        margin-top: 12px;
    }
    span{
        width:48px; 
        height:48px;
        // display: block;
    }
    .title{
        // background-color: aqua;
        // height: 100%;
        display: flex;
        align-items: center;
    }
    .tools{
            background:url("https://drive.google.com/uc?export=view&id=1ZNVb7tlzu4g_fwE9vjHL7v5VXp2OAP-7");  
            background-repeat: no-repeat;
            background-position: center;
            // height: 72px;
        }
  }
}


@media screen and (max-width: 800px){
    .status-container{
        display: none;
    }
    .phone-container{
        background-image: none;
        width: 100vw;
        height: 100vh;
    }
    .display-container{
        width: 100%;
        height: 100%;
        min-width: 250px;
    }
}