* {
				margin: 0;
				-webkit-box-sizing: border-box;
				        box-sizing: border-box;
}

html {
				font-family: "Roboto", sans-serif;
				font-weight: 600;
				background-color: rgb(231, 235, 237);
				overflow-x: hidden;
				scroll-behavior: smooth;
}

main {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				width: 100vw;
				height: 100%;
}

a {
				text-decoration: none;
}

.phone-container {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
				height: 100vh;
				width: 100%;
				min-height: 600px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
}

.display-container {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				height: 69%;
				width: 95vh;
				min-width: 570px;
				padding: 0px 16px;
				-webkit-transition: ease-in-out 0.5s;
				transition: ease-in-out 0.5s;
				border-radius: 16px;
}

.status-container {
				width: 100%;
				height: 28px;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
}
.status-container div {
				width: 33%;
				height: 45px;
				font-size: 0.9rem;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
}
.status-container .dates {
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
}
.status-container .bateries {
				-webkit-box-pack: end;
				    -ms-flex-pack: end;
				        justify-content: flex-end;
}
.status-container .bateries i {
				font-size: 1.2rem;
}

.buttons-container {
				display: -ms-grid;
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(100px, 105px));
				grid-template-rows: repeat(auto-fit, minmax(100px, 105px));
				width: 100%;
				padding: 16px;
				gap: 24px;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
}
.buttons-container .button {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				width: 100px;
				height: 100px;
				border-radius: 16px;
				border: none;
				-webkit-transition: ease-in-out 0.2s;
				transition: ease-in-out 0.2s;
				-webkit-box-shadow: 5px 5px 9px #d3d3d3, -5px -5px 9px #ededed;
				        box-shadow: 5px 5px 9px #d3d3d3, -5px -5px 9px #ededed;
				background-color: rgb(231, 235, 237);
}
.buttons-container .button:hover {
				-webkit-transform: scale(1.1);
				        transform: scale(1.1);
				-webkit-transition: ease-in-out 0.3s;
				transition: ease-in-out 0.3s;
}
.buttons-container .button p {
				margin-top: 12px;
}
.buttons-container .button span {
				width: 48px;
				height: 48px;
}
.buttons-container .button .title {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
}
.buttons-container .button .tools {
				background: url("https://drive.google.com/uc?export=view&id=1Uyrdfvo8ElpxlcA-cw1bHCiL5tmSxGmu");
				background-repeat: no-repeat;
				background-position: center;
}

@media screen and (max-width: 800px) {
				.status-container {
								display: none;
				}

				.phone-container {
								background-image: none;
								width: 100vw;
								height: 100vh;
								padding: 24px;
				}

				.display-container {
								width: 100%;
								height: 100%;
								min-width: 250px;
				}
}