*{
    margin:0;
    box-sizing: border-box;
}

$font: 'Roboto', sans-serif;
$color1: #E6EEFA;
$color2:#5790df98;
$backgroundcolor: rgb(231, 235, 237);

html{
    font-family: $font;
    line-height: 125%;
    font-weight: 600;
    background-color: $backgroundcolor;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
}
.status-container{
    background-color: rebeccapurple;
    width: 70vh;
    padding: 0 24px;
}
.phone-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    min-height:600px;
    background-image: url("https://drive.google.com/uc?export=view&id=1rlz6Dp7EYnqpGPVU0tkCXKMQ6LVzgOOt");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.display-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 69%;
    width: 95vh;
    min-width: 570px;
    background-color: rgba(0, 255, 255, 0.267);
    padding: 0px 16px;
    transition: ease-in-out .5s;
    border: 1px solid black;
    border-radius: 16px; 
}


.buttons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    grid-template-rows: minmax(60px, 65px);
    width: 100%;
    padding: 16px;
    gap:4px;
    align-items: center;
    justify-items: center;
  .button{
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 16px;
  }
}


@media screen and (max-width: 800px){
    .status-container{
        display: none;
    }
    .phone-container{
        background-image: none;
        width: 100vw;
        height: 100vh;
    }
    .display-container{
        width: 100%;
        height: 100%;
        min-width: 250px;
    }
}