*{
    margin:0;
    box-sizing: border-box;
}

$font: 'Roboto', sans-serif;
$color1: #E6EEFA;
$color2:#5790df98;
$backgroundcolor: white;

html{
    font-family: $font;
    line-height: 125%;
    font-weight: 400;
    background-color: $backgroundcolor;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
header{
    height: 64px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0 16px;
    box-shadow: 1px 1px 58px rgba(0, 0, 0, 0.253);
}

main{
    margin: 128px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.converter{
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    margin: 16px 0;
    transition: ease-in-out .3s;
    &:hover{
    box-shadow: -10px 10px 24px rgba(128, 128, 128, 0.322);    
    }

}
.converter-unit{
    width: 60vw;
    min-width: 315px;
    max-width: 800px;
}
.converter-roundsquare{
    width: 40vw;
    min-width: 315px;
    max-width: 450px;
}

.container-input{
    background-color: $color2;
    backdrop-filter: blur(5px);
    margin: 8px;
    padding: 24px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.schema{
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
    span{
        font-weight: 600;
    }
    
}
.area{
    border: 3px solid black;
    border-radius: 8px;
    grid-column: 2 / 5;
    grid-row: 2 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.largo{
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}
.ancho{
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-lr;
    p{
        transform: rotate(180deg);
    }
}
.title{
    font-size: 1.5rem;
    font-weight: 800;
    margin: 8px 0px 24px 0;
    padding: 16px;
    text-align: center;
}
.user{
    margin: 0 0 16px 0;
}
.caja{
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 32px 20px 20px 0px;
    height: 32px;
    padding: 0 16px 0 16px;
    margin: 12px 0;
    font-size: .9rem;
    transition: ease-in-out .3s;

    &:hover{
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.37);
    }

    span{
        width: 24px;
        font-weight: 400;
        color: gray;
    }

    i{
        margin-right: 8px;
    }
    #userSelect{
        width: 80px;
    }
    #userInput{
        width: 70px;
    }
    input, select{
        border: none;
        width: 80px;
        &:focus{
            outline: none;
        }
    }
}