*{
    margin:0;
    box-sizing: border-box;
}

$font: 'Roboto', sans-serif;

html{
    font-family: $font;
    line-height: 125%;
    font-weight: 200;
}
p{
    margin-top: 100px;
    font-size: 3rem;
    color: red;
}

div{
    height: 150px;
    width: 300px;
    background-color: aquamarine;
}