* {
				margin: 0;
				-webkit-box-sizing: border-box;
				        box-sizing: border-box;
}

html {
				font-family: "Roboto", sans-serif;
				line-height: 125%;
				font-weight: 200;
}

p {
				margin-top: 100px;
				font-size: 3rem;
				color: red;
}

div {
				height: 150px;
				width: 300px;
				background-color: aquamarine;
}